body {
    background-color: #343a40;
    color: #fff;
}

#guess-input.success {
    border: 2px solid #28a745;
}

#guess-input.fail {
    border: 2px solid #dc3545;
}

#feedback.success {
    color: #28a745;
}

#feedback.fail {
    color: #dc3545;
}

.modal-content {
    background-color: #212529;
    color: #fff;
}

.modal-header {
    border-bottom: 1px solid #6c757d;
}

.modal-footer {
    border-top: 1px solid #6c757d;
}
